
src/server/eieinfo/files
src/server/startserver.sh
src/server/eieinfo/secret
src/server/test.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Editors garbage
*~
*.autosave
.DS_STORE


# C extensions
*.so
*.exe
*.o
*.run

# Translations
*.mo

# Django stuff:
*.log
*.pot

# Uploaded files
src/server/eieinfo/media
